.app{
  position: relative;
  height: 100vh;

  &__container{
    position: absolute;
    top: 50%;
    width: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 50px 20px;

    h1{
      position: absolute;
      bottom: calc(100% + 10px);
      margin-left: 5px;
      font-weight: bold;
    }
  }

  .page{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all 0.3s ease;

    .text-input, .select{
      margin-top: 20px;
    }
  }

  .pagination{
    display: flex;
    justify-content: flex-end;

    button{
      margin-left: 10px;
    }
  }

  input{
    &:focus{
      outline: unset;
      box-shadow: unset;
    }
  }
}